<html>

<head>
    <style>
        #topbar {
            text-align: left;
        }

        #f1 {
            width: 100%;
            height: 9%;
            margin: auto;
            border-radius: 15px;
            background-color: rgb(255, 184, 184);
        }

        #f2 {
            margin: auto;
            width: 95%;
            height: 90%;
            border-radius: 15px;
            background-color: rgb(255, 184, 184);
            font-size: 15px;
        }

        #header {
            font-size: 25px;
            color: white;
            background-color: rgb(199, 55, 62);

        }


        img {
            width: 50px;
            height: 50px;
        }
    </style>
</head>

<body style="background-color: rgb(233, 82, 89);">
    <center>
        <div id="topbar">
            <fieldset id="f1">
                <div style="float: left;" width="50%">
                    <img src="/pics/logo2.jpg" alt="logo">
                </div>
                <div style="float: right;" width="50%">
                    <p id="user">
                    <h1>Welcome User</h1>
                    </p>
                </div>
            </fieldset>
            <br>
            <fieldset id="f2">
                <table border="1" style="width:100%; border-radius: 10px; " cellpadding="10" cellspacing="0">
                    <tr id="header">
                        <th>Hospital Name</th>
                        <th>Donar Name</th>
                        <th>Prescription</th>
                        <th>Blood Group</th>
                        <th> Accept/Reject</th>
                    </tr>

                    <tr>
                        <th>
                            <p style="font-size: 22px;"> Fortis Healthcare </p>
                            <p>Near Phoenix Mall, Chennai.</p>
                        </th>
                        <th>23</th>
                        <th>
                            <button style="background-color:rgb(255, 184, 184); border-color:rgb(255, 184, 184); ">
                                <img style="width: 90px;" src="/pics/prescription.png"
                                    alt="prescription">
                            </button>
                        </th>
                        <th>B+</th>
                        <th>
                            <button
                                style="background-color:rgb(255, 184, 184); border-color:rgb(255, 184, 184); float:left; margin-left: 70px;">
                                <img src="/pics/accept.png" alt="accept">
                            </button>

                            <button style="background-color:rgb(255, 184, 184); border-color:rgb(255, 184, 184);">
                                <img src="/pics/reject.png" alt="reject">
                            </button>
                        </th>
                    </tr>
                </table>
                <br />
                <button style="float:right; width:100px;height:50px; cursor:pointer;">
                    <a href="homepage.ejs">
                        <img src="/pics/home.png" alt="home">

                </button>
            </fieldset>

        </div>

</body>

</html>