<html>

<head>
    <style>
        #f1 {
            width: 100%;
            height: 9%;
            margin: auto;
            border-radius: 15px;
            background-color: rgb(255, 184, 184);
        }

        .d {
            width: 30%;
            height: 35%;
            background-color: rgb(255, 184, 184);
            border-radius: 10px;
        }

        .design {
            width: 384px;
            height: 35%;
            border: none;
            border-radius: 10px;
        }

        button {
            background-color: rgb(255, 184, 184);
            border: none;
            cursor: pointer;
        }

        img {
            width: 200px;
            height: 170px;
        }

        a {
            text-decoration: none;
            color: black;
        }
    </style>

</head>

<body style="background-color: rgb(233,82,89);">
    <div>
        <fieldset id="f1">
            <div style="float: left;" width="50%">
                <img style="width:50px;height:50px;" src="/pics/logo2.jpg" alt="logo">
            </div>
            <div style="float: right;" width="50%">
                <p>
                <h1>Welcome User</h1>
                </p>
            </div>
        </fieldset>
    </div>
    <br />
    <div>
        <div class="d" style="float:left;">
            <fieldset class="design">
                <center>
                    <button>
                        <a href="D:\VIT\Coding\HTML\LiveTWICE\available_organs.html">
                            <img src="/pics/available_organs.png" alt="available organs">
                            <br />
                            <b>Available Organs </b>
                    </button>
                </center>
            </fieldset>
        </div>

        <div class="d" style="float:right;">
            <fieldset class="design">
                <center>
                    <button>
                        <a href="D:\VIT\Coding\HTML\LiveTWICE\donate_organ1.html">
                            <img src="/pics/donate_organ.png" alt="donate organs">
                            <br />
                            <b>Donate an Organ </b>
                    </button>
                </center>
            </fieldset>
        </div>

        <div class="d" style="float:right; margin-right:70px;">
            <fieldset class="design">
                <center>
                    <button>
                        <a href="D:\VIT\Coding\HTML\LiveTWICE\acceptorgan.html">
                            <img src="/pics/accept_organ.png" alt="accept organs">
                            <br />
                            <b>Accept an Organ </b>
                    </button>
                </center>
            </fieldset>
        </div>

        <br />
        <div class="d" style="float:left; margin-left:230px; margin-top:50px;">
            <fieldset class="design">
                <center>
                    <button>
                        <a href="D:\VIT\Coding\HTML\LiveTWICE\request_organ1.html">
                            <img src="/pics/accept_organ.png" alt="request organs">
                            <br />
                            <b>Request an Organ </b>
                    </button>
                </center>
            </fieldset>
        </div>
        <div class="d" style="float:right; margin-right:230px; margin-top:50px;">
            <fieldset class="design">
                <center>
                    <button>
                        <a href="D:\VIT\Coding\HTML\LiveTWICE\pics\policy.png">
                            <img src="/pics/accept_organ.png" alt="policy">
                            <br />
                            <b>Policy Compliance </b>
                    </button>
                </center>
            </fieldset>
        </div>

    </div>





</body>

</html>