<html>
<style>
    body {
        background-color: #e74e63;
    }

    #topbar {
        text-align: left;
    }

    img {
        height: 100%;
        width: 100%;
        margin-left: 10px;
    }

    h1,
    h2 {
        text-align: center;
    }

    h1 {
        margin-top: 80px;
    }

    h2 {
        text-decoration: underline;
        margin-bottom: 50px;
    }

    #f1 {
        width: 100%;
        height: 9%;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(255, 184, 184);
    }

    #f2 {
        margin: auto;
        width: 40%;
        height: 90%;
        border-radius: 15px;
        background-color: rgb(255, 184, 184);
        font-size: 15px;
    }

    #user {
        text-align: right;
        margin-top: 30px;
        margin-right: 55px;
        font-size: 40px;
        font-weight: bold;
    }

    input,
    select {
        padding: 10px;
        margin: 20px;
        border-radius: 15px;
        border-color: white;
        font-size: 20px;
        font-weight: bold;
        color: rgb(94, 94, 94);
        background-color: whitesmoke;
        /* align-items: center; */
    }

    select:hover {
        background-color: #e74e63;
        color: white;
    }

    label {
        font-size: 20px;
        font-weight: bold;
        margin-left: 25px;
        margin-top: 100px;
    }

    input[type="file"] {
        margin: 1px;
        margin-left: 22px;
        display: inline-block;
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border-radius: 15px;
        padding: 5px 180px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
    }

    input[type="button"] {
        margin: 70;
        margin-left: 15%;
    }

    input[type="button"]:hover {
        color: white;
        background-color: rgb(93, 91, 91);
    }
</style>

<body>
    <center>
        <div id="topbar">
            <fieldset id="f1">
                <div style="float: left;" width="50%">
                    <img src="D:\VIT\Coding\HTML\LiveTWICE\pics\logo2.jpg" alt="logo">
                </div>
                <div style="float: right;" width="50%">
                    <p id="user">Welcome User</p>
                </div>
            </fieldset>
            <br>
            <fieldset id="f2">
                <h1>REQUEST AN ORGAN</h1>
                <h2>Patient Details</h2>
                <form action="" method="post" id="myForm">
                    <input type="text" name="pname" placeholder="Patient Name" size="55" autofocus required><br>
                    <input type="text" name="page" placeholder="Patient Age" required>
                    <select name="blood" class="list">
                        <option selected disabled>Choose Blood group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value=“B-”>B-</option>
                        <option value=“O+”>O+</option>
                        <option value=“O-”>O-</option>
                        <option value=“AB+”>AB+</option>
                        <option value=“AB-”>AB-</option>
                    </select>
                    <br>
                    <select name="organ" class="list">
                        <option selected disabled>Choose organ</option>
                        <option value="heart">Heart</option>
                        <option value="intestine">Intestines</option>
                        <option value="kidneys">Kidneys</option>
                        <option value=“lungs”>Lungs</option>
                        <option value=“liver”>Liver</option>
                        <option value=“pancreas”>Pancreas</option>
                    </select><br><br>
                    <label>Upload Prescription</label>
                    <input type="file" name="prescription" placeholder="Upload Prescription" accept="pdf" required><br>
                    <input type="button" value="REQUEST" id="check">
                    <input type="button" value="HOME PAGE" onclick="redirect()">
                    
                </form>
            </fieldset>
        </div>
        </div>
    </center>
    <script>
        function redirect() {
            location.replace("D:/VIT/Coding/HTML/LiveTWICE/homepage.html");
        }

        function req_confirm() {
            alert("Request Made!");
        }

        document.getElementById("check").onclick = function () {
            let allAreFilled = true;
            document.getElementById("myForm").querySelectorAll("[required]").forEach(function (i) {
                if (!allAreFilled) return;
                if (i.type === "select") {
                    let selectValueCheck = false;
                    document.getElementById("myForm").querySelectorAll(`[name=${i.name}]`).forEach(function (r) {
                        if (r.checked) selectValueCheck = true;
                    })
                    allAreFilled = selectValueCheck;
                    return;
                }
                if (!i.value) { allAreFilled = false; return; }
            })
            if (!allAreFilled) {
                alert('Fill all the fields');
            }
            else
                location.replace("D:/VIT/Coding/HTML/LiveTWICE/requestmade.html");
        };
    </script>
</body>

</html>